USE [NamaaProjects]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 9/30/2026 9:12:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AccountCode] [varchar](30) NOT NULL,
	[AccountName] [nvarchar](200) NOT NULL,
	[ParentAccountId] [bigint] NULL,
	[AccountType] [varchar](20) NOT NULL,
	[IsPostingAllowed] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Accounts_AccountCode] UNIQUE NONCLUSTERED 
(
	[AccountCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 9/30/2026 9:12:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NULL,
	[Action] [varchar](50) NOT NULL,
	[EntityType] [varchar](50) NOT NULL,
	[EntityId] [bigint] NULL,
	[OldValues] [nvarchar](max) NULL,
	[NewValues] [nvarchar](max) NULL,
	[IpAddress] [varchar](45) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branches]    Script Date: 9/30/2026 9:12:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[BranchCode] [varchar](30) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[City] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Branches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Branches_BranchCode] UNIQUE NONCLUSTERED 
(
	[BranchCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CostCenters]    Script Date: 9/30/2026 9:12:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CostCenters](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CostCenterCode] [varchar](30) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[ParentCostCenterId] [bigint] NULL,
	[BranchId] [bigint] NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_CostCenters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CostCenters_Code] UNIQUE NONCLUSTERED 
(
	[CostCenterCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerContacts]    Script Date: 9/30/2026 9:12:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerContacts](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerId] [bigint] NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[JobTitle] [nvarchar](100) NULL,
	[Email] [nvarchar](254) NULL,
	[PhoneNumber] [nvarchar](30) NULL,
	[IsPrimary] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_CustomerContacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 9/30/2026 9:12:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerCode] [varchar](30) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CustomerType] [varchar](20) NOT NULL,
	[Email] [nvarchar](254) NULL,
	[PhoneNumber] [nvarchar](30) NULL,
	[Address] [nvarchar](500) NULL,
	[City] [nvarchar](100) NULL,
	[TaxNumber] [varchar](50) NULL,
	[CommercialRegister] [varchar](50) NULL,
	[Source] [nvarchar](100) NULL,
	[Notes] [nvarchar](1000) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Customers_Code] UNIQUE NONCLUSTERED 
(
	[CustomerCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expenses]    Script Date: 9/30/2026 9:12:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expenses](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProjectId] [bigint] NULL,
	[ExpenseNumber] [varchar](30) NOT NULL,
	[ExpenseDate] [date] NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Amount] [decimal](19, 4) NOT NULL,
	[CreatedByUserId] [bigint] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Expenses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Expenses_Number] UNIQUE NONCLUSTERED 
(
	[ExpenseNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceItems]    Script Date: 9/30/2026 9:12:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceItems](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [bigint] NOT NULL,
	[LineNumber] [smallint] NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Quantity] [decimal](19, 4) NOT NULL,
	[UnitPrice] [decimal](19, 4) NOT NULL,
	[DiscountAmount] [decimal](19, 4) NOT NULL,
	[TaxAmount] [decimal](19, 4) NOT NULL,
	[LineTotal] [decimal](19, 4) NOT NULL,
	[ServiceId] [bigint] NULL,
 CONSTRAINT [PK_InvoiceItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_InvoiceItems_Line] UNIQUE NONCLUSTERED 
(
	[InvoiceId] ASC,
	[LineNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 9/30/2026 9:12:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProjectId] [bigint] NULL,
	[InvoiceNumber] [varchar](30) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[IssueDate] [date] NOT NULL,
	[DueDate] [date] NULL,
	[SubTotal] [decimal](19, 4) NOT NULL,
	[DiscountAmount] [decimal](19, 4) NOT NULL,
	[TaxAmount] [decimal](19, 4) NOT NULL,
	[TotalAmount] [decimal](19, 4) NOT NULL,
	[Notes] [nvarchar](1000) NULL,
	[CreatedByUserId] [bigint] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[RowVersion] [timestamp] NOT NULL,
	[CustomerId] [bigint] NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Invoices_Number] UNIQUE NONCLUSTERED 
(
	[InvoiceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JournalEntries]    Script Date: 9/30/2026 9:12:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JournalEntries](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EntryNumber] [varchar](30) NOT NULL,
	[EntryDate] [date] NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[Status] [varchar](20) NOT NULL,
	[SourceType] [varchar](50) NULL,
	[SourceId] [bigint] NULL,
	[CreatedByUserId] [bigint] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[PostedByUserId] [bigint] NULL,
	[PostedAt] [datetime2](0) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_JournalEntries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_JournalEntries_EntryNumber] UNIQUE NONCLUSTERED 
(
	[EntryNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JournalEntryLines]    Script Date: 9/30/2026 9:12:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JournalEntryLines](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[JournalEntryId] [bigint] NOT NULL,
	[LineNumber] [smallint] NOT NULL,
	[AccountId] [bigint] NOT NULL,
	[BranchId] [bigint] NULL,
	[CostCenterId] [bigint] NULL,
	[ProjectId] [bigint] NULL,
	[Description] [nvarchar](500) NULL,
	[Debit] [decimal](19, 4) NOT NULL,
	[Credit] [decimal](19, 4) NOT NULL,
 CONSTRAINT [PK_JournalEntryLines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 9/30/2026 9:12:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](1000) NOT NULL,
	[EntityType] [varchar](50) NULL,
	[EntityId] [bigint] NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[ReadAt] [datetime2](0) NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 9/30/2026 9:12:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [bigint] NULL,
	[PaymentNumber] [varchar](30) NOT NULL,
	[PaymentDate] [datetime2](0) NOT NULL,
	[PaymentMethod] [varchar](20) NOT NULL,
	[Amount] [decimal](19, 4) NOT NULL,
	[ReferenceNumber] [nvarchar](100) NULL,
	[Notes] [nvarchar](500) NULL,
	[ReceivedByUserId] [bigint] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[CustomerId] [bigint] NULL,
	[Status] [varchar](20) NOT NULL,
	[PostedAt] [datetime2](0) NULL,
	[PostedByUserId] [bigint] NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Payments_Number] UNIQUE NONCLUSTERED 
(
	[PaymentNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentVoucherAllocations]    Script Date: 9/30/2026 9:12:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentVoucherAllocations](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PaymentVoucherId] [bigint] NOT NULL,
	[PurchaseInvoiceId] [bigint] NOT NULL,
	[AllocatedAmount] [decimal](19, 4) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_PaymentVoucherAllocations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentVouchers]    Script Date: 9/30/2026 9:12:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentVouchers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[VoucherNumber] [varchar](30) NOT NULL,
	[SupplierId] [bigint] NULL,
	[BeneficiaryName] [nvarchar](200) NULL,
	[ProjectId] [bigint] NULL,
	[VoucherDate] [date] NOT NULL,
	[PaymentMethod] [varchar](20) NOT NULL,
	[Amount] [decimal](19, 4) NOT NULL,
	[ReferenceNumber] [nvarchar](100) NULL,
	[Status] [varchar](20) NOT NULL,
	[Notes] [nvarchar](1000) NULL,
	[PaidByUserId] [bigint] NOT NULL,
	[PostedByUserId] [bigint] NULL,
	[PostedAt] [datetime2](0) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_PaymentVouchers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PaymentVouchers_Number] UNIQUE NONCLUSTERED 
(
	[VoucherNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectCorrespondences]    Script Date: 9/30/2026 9:12:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectCorrespondences](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProjectId] [bigint] NOT NULL,
	[CorrespondenceType] [varchar](20) NOT NULL,
	[Subject] [nvarchar](300) NOT NULL,
	[ReferenceNumber] [nvarchar](100) NULL,
	[CorrespondenceDate] [date] NOT NULL,
	[Notes] [nvarchar](2000) NULL,
	[CreatedByUserId] [bigint] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_ProjectCorrespondences] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectFiles]    Script Date: 9/30/2026 9:12:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectFiles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProjectId] [bigint] NOT NULL,
	[UploadedByUserId] [bigint] NOT NULL,
	[FileName] [nvarchar](260) NOT NULL,
	[StorageKey] [nvarchar](500) NOT NULL,
	[ContentType] [nvarchar](100) NULL,
	[FileSizeBytes] [bigint] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[UploadedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_ProjectFiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ProjectFiles_StorageKey] UNIQUE NONCLUSTERED 
(
	[StorageKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectMembers]    Script Date: 9/30/2026 9:12:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectMembers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProjectId] [bigint] NOT NULL,
	[UserId] [bigint] NOT NULL,
	[ProjectRole] [nvarchar](100) NULL,
	[JoinedAt] [date] NOT NULL,
	[LeftAt] [date] NULL,
 CONSTRAINT [PK_ProjectMembers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ProjectMembers_Project_User] UNIQUE NONCLUSTERED 
(
	[ProjectId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 9/30/2026 9:12:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerId] [bigint] NOT NULL,
	[SourceQuotationId] [bigint] NULL,
	[ProjectManagerId] [bigint] NULL,
	[ProjectCode] [varchar](30) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](2000) NULL,
	[Location] [nvarchar](500) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[ActualCompletionDate] [date] NULL,
	[Status] [varchar](20) NOT NULL,
	[ProgressPercentage] [decimal](5, 2) NOT NULL,
	[BudgetAmount] [decimal](19, 4) NOT NULL,
	[CreatedByUserId] [bigint] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Projects_Code] UNIQUE NONCLUSTERED 
(
	[ProjectCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectStages]    Script Date: 9/30/2026 9:12:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectStages](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProjectId] [bigint] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[StageOrder] [int] NOT NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Status] [varchar](20) NOT NULL,
	[ProgressPercentage] [decimal](5, 2) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_ProjectStages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectStatusHistory]    Script Date: 9/30/2026 9:12:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectStatusHistory](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProjectId] [bigint] NOT NULL,
	[OldStatus] [varchar](20) NULL,
	[NewStatus] [varchar](20) NOT NULL,
	[Reason] [nvarchar](1000) NULL,
	[ChangedByUserId] [bigint] NOT NULL,
	[ChangedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_ProjectStatusHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectTasks]    Script Date: 9/30/2026 9:12:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectTasks](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProjectId] [bigint] NOT NULL,
	[ParentTaskId] [bigint] NULL,
	[AssignedToUserId] [bigint] NULL,
	[Title] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](2000) NULL,
	[Status] [varchar](20) NOT NULL,
	[Priority] [varchar](10) NOT NULL,
	[StartDate] [date] NULL,
	[DueDate] [date] NULL,
	[CompletedAt] [datetime2](0) NULL,
	[ProgressPercentage] [decimal](5, 2) NOT NULL,
	[CreatedByUserId] [bigint] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[RowVersion] [timestamp] NOT NULL,
	[StageId] [bigint] NULL,
	[TaskType] [varchar](20) NULL,
 CONSTRAINT [PK_ProjectTasks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseInvoiceItems]    Script Date: 9/30/2026 9:12:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseInvoiceItems](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PurchaseInvoiceId] [bigint] NOT NULL,
	[LineNumber] [smallint] NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Quantity] [decimal](19, 4) NOT NULL,
	[UnitPrice] [decimal](19, 4) NOT NULL,
	[DiscountAmount] [decimal](19, 4) NOT NULL,
	[TaxAmount] [decimal](19, 4) NOT NULL,
	[LineTotal] [decimal](19, 4) NOT NULL,
 CONSTRAINT [PK_PurchaseInvoiceItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseInvoices]    Script Date: 9/30/2026 9:12:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseInvoices](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SupplierId] [bigint] NOT NULL,
	[ProjectId] [bigint] NULL,
	[PurchaseInvoiceNumber] [varchar](30) NOT NULL,
	[SupplierInvoiceNumber] [varchar](100) NULL,
	[Status] [varchar](20) NOT NULL,
	[IssueDate] [date] NOT NULL,
	[DueDate] [date] NULL,
	[SubTotal] [decimal](19, 4) NOT NULL,
	[DiscountAmount] [decimal](19, 4) NOT NULL,
	[TaxAmount] [decimal](19, 4) NOT NULL,
	[TotalAmount] [decimal](19, 4) NOT NULL,
	[Notes] [nvarchar](1500) NULL,
	[CreatedByUserId] [bigint] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[PostedAt] [datetime2](0) NULL,
	[PostedByUserId] [bigint] NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_PurchaseInvoices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PurchaseInvoices_Number] UNIQUE NONCLUSTERED 
(
	[PurchaseInvoiceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuotationItems]    Script Date: 9/30/2026 9:12:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuotationItems](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[QuotationId] [bigint] NOT NULL,
	[LineNumber] [smallint] NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Quantity] [decimal](19, 4) NOT NULL,
	[UnitPrice] [decimal](19, 4) NOT NULL,
	[DiscountAmount] [decimal](19, 4) NOT NULL,
	[TaxAmount] [decimal](19, 4) NOT NULL,
	[LineTotal] [decimal](19, 4) NOT NULL,
	[ServiceId] [bigint] NULL,
 CONSTRAINT [PK_QuotationItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_QuotationItems_Line] UNIQUE NONCLUSTERED 
(
	[QuotationId] ASC,
	[LineNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuotationPaymentTerms]    Script Date: 9/30/2026 9:12:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuotationPaymentTerms](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[QuotationId] [bigint] NOT NULL,
	[InstallmentNumber] [smallint] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Percentage] [decimal](5, 2) NULL,
	[Amount] [decimal](19, 4) NULL,
	[DueAfterDays] [int] NULL,
	[DueDate] [date] NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_QuotationPaymentTerms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quotations]    Script Date: 9/30/2026 9:12:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quotations](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerId] [bigint] NOT NULL,
	[QuotationNumber] [varchar](30) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[IssueDate] [date] NOT NULL,
	[ValidUntil] [date] NULL,
	[SubTotal] [decimal](19, 4) NOT NULL,
	[DiscountAmount] [decimal](19, 4) NOT NULL,
	[TaxAmount] [decimal](19, 4) NOT NULL,
	[TotalAmount] [decimal](19, 4) NOT NULL,
	[Notes] [nvarchar](1500) NULL,
	[Terms] [nvarchar](2000) NULL,
	[SentAt] [datetime2](0) NULL,
	[ApprovedAt] [datetime2](0) NULL,
	[RejectedAt] [datetime2](0) NULL,
	[ApprovedByUserId] [bigint] NULL,
	[CreatedByUserId] [bigint] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Quotations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Quotations_Number] UNIQUE NONCLUSTERED 
(
	[QuotationNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 9/30/2026 9:12:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[TokenHash] [char](64) NOT NULL,
	[ExpiresAt] [datetime2](0) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[RevokedAt] [datetime2](0) NULL,
	[ReplacedById] [bigint] NULL,
 CONSTRAINT [PK_RefreshTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_RefreshTokens_TokenHash] UNIQUE NONCLUSTERED 
(
	[TokenHash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 9/30/2026 9:12:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Description] [nvarchar](250) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Roles_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 9/30/2026 9:12:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Category] [nvarchar](100) NULL,
	[Description] [nvarchar](1000) NULL,
	[DefaultPrice] [decimal](19, 4) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 9/30/2026 9:12:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SupplierCode] [varchar](30) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[PhoneNumber] [varchar](30) NULL,
	[Email] [nvarchar](254) NULL,
	[Address] [nvarchar](500) NULL,
	[City] [nvarchar](100) NULL,
	[TaxNumber] [varchar](50) NULL,
	[CommercialRegister] [varchar](50) NULL,
	[Notes] [nvarchar](1000) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Suppliers_SupplierCode] UNIQUE NONCLUSTERED 
(
	[SupplierCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/30/2026 9:12:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[RoleId] [tinyint] NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](254) NULL,
	[PhoneNumber] [nvarchar](30) NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Accounts_ParentAccountId]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_Accounts_ParentAccountId] ON [dbo].[Accounts]
(
	[ParentAccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AuditLogs_Entity]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_AuditLogs_Entity] ON [dbo].[AuditLogs]
(
	[EntityType] ASC,
	[EntityId] ASC,
	[CreatedAt] DESC
)
INCLUDE([UserId],[Action]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuditLogs_User_Date]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_AuditLogs_User_Date] ON [dbo].[AuditLogs]
(
	[UserId] ASC,
	[CreatedAt] DESC
)
INCLUDE([Action],[EntityType],[EntityId]) 
WHERE ([UserId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CostCenters_BranchId]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_CostCenters_BranchId] ON [dbo].[CostCenters]
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerContacts_Customer]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_CustomerContacts_Customer] ON [dbo].[CustomerContacts]
(
	[CustomerId] ASC,
	[IsPrimary] DESC
)
INCLUDE([FullName],[JobTitle],[Email],[PhoneNumber]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_CustomerContacts_OnePrimary]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_CustomerContacts_OnePrimary] ON [dbo].[CustomerContacts]
(
	[CustomerId] ASC
)
WHERE ([IsPrimary]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customers_Name_Active]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_Customers_Name_Active] ON [dbo].[Customers]
(
	[Name] ASC,
	[IsActive] ASC
)
INCLUDE([CustomerCode],[Email],[PhoneNumber]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Expenses_Project_Date]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_Expenses_Project_Date] ON [dbo].[Expenses]
(
	[ProjectId] ASC,
	[ExpenseDate] DESC
)
INCLUDE([ExpenseNumber],[Category],[Description],[Amount]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InvoiceItems_Invoice]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_InvoiceItems_Invoice] ON [dbo].[InvoiceItems]
(
	[InvoiceId] ASC,
	[LineNumber] ASC
)
INCLUDE([Description],[Quantity],[UnitPrice],[LineTotal]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InvoiceItems_ServiceId]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_InvoiceItems_ServiceId] ON [dbo].[InvoiceItems]
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invoices_Project_Date]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_Invoices_Project_Date] ON [dbo].[Invoices]
(
	[ProjectId] ASC,
	[IssueDate] DESC
)
INCLUDE([InvoiceNumber],[Status],[DueDate],[TotalAmount]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Invoices_Status_DueDate]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_Invoices_Status_DueDate] ON [dbo].[Invoices]
(
	[Status] ASC,
	[DueDate] ASC
)
INCLUDE([ProjectId],[InvoiceNumber],[IssueDate],[TotalAmount]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_JournalEntryLines_AccountId]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_JournalEntryLines_AccountId] ON [dbo].[JournalEntryLines]
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_JournalEntryLines_Entry_Line]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_JournalEntryLines_Entry_Line] ON [dbo].[JournalEntryLines]
(
	[JournalEntryId] ASC,
	[LineNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_User_Unread]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_User_Unread] ON [dbo].[Notifications]
(
	[UserId] ASC,
	[IsRead] ASC,
	[CreatedAt] DESC
)
INCLUDE([Title],[EntityType],[EntityId],[ReadAt]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_Date]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_Date] ON [dbo].[Payments]
(
	[PaymentDate] DESC
)
INCLUDE([InvoiceId],[PaymentNumber],[PaymentMethod],[Amount]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_Invoice_Date]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_Invoice_Date] ON [dbo].[Payments]
(
	[InvoiceId] ASC,
	[PaymentDate] DESC
)
INCLUDE([PaymentNumber],[PaymentMethod],[Amount],[ReferenceNumber]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_PaymentVoucherAllocations_Voucher_Invoice]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_PaymentVoucherAllocations_Voucher_Invoice] ON [dbo].[PaymentVoucherAllocations]
(
	[PaymentVoucherId] ASC,
	[PurchaseInvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectFiles_Project_UploadedAt]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProjectFiles_Project_UploadedAt] ON [dbo].[ProjectFiles]
(
	[ProjectId] ASC,
	[UploadedAt] DESC
)
INCLUDE([FileName],[ContentType],[FileSizeBytes],[UploadedByUserId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectMembers_User]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProjectMembers_User] ON [dbo].[ProjectMembers]
(
	[UserId] ASC,
	[LeftAt] ASC
)
INCLUDE([ProjectId],[ProjectRole],[JoinedAt]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_ProjectMembers_ActiveMember]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_ProjectMembers_ActiveMember] ON [dbo].[ProjectMembers]
(
	[ProjectId] ASC,
	[UserId] ASC
)
WHERE ([LeftAt] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Projects_Customer_Status]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_Projects_Customer_Status] ON [dbo].[Projects]
(
	[CustomerId] ASC,
	[Status] ASC
)
INCLUDE([ProjectCode],[Name],[StartDate],[EndDate],[ProgressPercentage],[BudgetAmount]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Projects_Manager_Status]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_Projects_Manager_Status] ON [dbo].[Projects]
(
	[ProjectManagerId] ASC,
	[Status] ASC
)
INCLUDE([ProjectCode],[Name],[EndDate],[ProgressPercentage]) 
WHERE ([ProjectManagerId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Projects_Status_EndDate]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_Projects_Status_EndDate] ON [dbo].[Projects]
(
	[Status] ASC,
	[EndDate] ASC
)
INCLUDE([ProjectCode],[Name],[ProjectManagerId],[ProgressPercentage]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Projects_SourceQuotation]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Projects_SourceQuotation] ON [dbo].[Projects]
(
	[SourceQuotationId] ASC
)
WHERE ([SourceQuotationId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectStatusHistory_ProjectId]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProjectStatusHistory_ProjectId] ON [dbo].[ProjectStatusHistory]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ProjectTasks_Assignee_Status]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProjectTasks_Assignee_Status] ON [dbo].[ProjectTasks]
(
	[AssignedToUserId] ASC,
	[Status] ASC,
	[DueDate] ASC
)
INCLUDE([ProjectId],[Title],[Priority],[ProgressPercentage]) 
WHERE ([AssignedToUserId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ProjectTasks_Project_Status]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProjectTasks_Project_Status] ON [dbo].[ProjectTasks]
(
	[ProjectId] ASC,
	[Status] ASC,
	[DueDate] ASC
)
INCLUDE([Title],[AssignedToUserId],[Priority],[ProgressPercentage]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_PurchaseInvoiceItems_Invoice_Line]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_PurchaseInvoiceItems_Invoice_Line] ON [dbo].[PurchaseInvoiceItems]
(
	[PurchaseInvoiceId] ASC,
	[LineNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PurchaseInvoices_ProjectId]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_PurchaseInvoices_ProjectId] ON [dbo].[PurchaseInvoices]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuotationItems_Quotation]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_QuotationItems_Quotation] ON [dbo].[QuotationItems]
(
	[QuotationId] ASC,
	[LineNumber] ASC
)
INCLUDE([Description],[Quantity],[UnitPrice],[LineTotal]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuotationItems_ServiceId]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_QuotationItems_ServiceId] ON [dbo].[QuotationItems]
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_QuotationPaymentTerms_Quotation_Installment]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_QuotationPaymentTerms_Quotation_Installment] ON [dbo].[QuotationPaymentTerms]
(
	[QuotationId] ASC,
	[InstallmentNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Quotations_Customer_Date]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_Quotations_Customer_Date] ON [dbo].[Quotations]
(
	[CustomerId] ASC,
	[IssueDate] DESC
)
INCLUDE([QuotationNumber],[Title],[Status],[TotalAmount]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Quotations_Status_Date]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_Quotations_Status_Date] ON [dbo].[Quotations]
(
	[Status] ASC,
	[IssueDate] DESC
)
INCLUDE([CustomerId],[QuotationNumber],[Title],[TotalAmount]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RefreshTokens_User_ExpiresAt]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_RefreshTokens_User_ExpiresAt] ON [dbo].[RefreshTokens]
(
	[UserId] ASC,
	[ExpiresAt] DESC
)
INCLUDE([RevokedAt]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_Role_Active]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_Users_Role_Active] ON [dbo].[Users]
(
	[RoleId] ASC,
	[IsActive] ASC
)
INCLUDE([FullName],[Email],[PhoneNumber]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Users_Email]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)
WHERE ([Email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Users_PhoneNumber]    Script Date: 9/30/2026 9:12:12 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Users_PhoneNumber] ON [dbo].[Users]
(
	[PhoneNumber] ASC
)
WHERE ([PhoneNumber] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF_Accounts_IsPostingAllowed]  DEFAULT ((1)) FOR [IsPostingAllowed]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF_Accounts_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF_Accounts_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  CONSTRAINT [DF_AuditLogs_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Branches] ADD  CONSTRAINT [DF_Branches_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Branches] ADD  CONSTRAINT [DF_Branches_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CostCenters] ADD  CONSTRAINT [DF_CostCenters_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CostCenters] ADD  CONSTRAINT [DF_CostCenters_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CustomerContacts] ADD  CONSTRAINT [DF_CustomerContacts_IsPrimary]  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[CustomerContacts] ADD  CONSTRAINT [DF_CustomerContacts_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_Type]  DEFAULT ('Company') FOR [CustomerType]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Expenses] ADD  CONSTRAINT [DF_Expenses_ExpenseDate]  DEFAULT (CONVERT([date],sysutcdatetime())) FOR [ExpenseDate]
GO
ALTER TABLE [dbo].[Expenses] ADD  CONSTRAINT [DF_Expenses_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[InvoiceItems] ADD  CONSTRAINT [DF_InvoiceItems_Discount]  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[InvoiceItems] ADD  CONSTRAINT [DF_InvoiceItems_Tax]  DEFAULT ((0)) FOR [TaxAmount]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF_Invoices_Status]  DEFAULT ('Draft') FOR [Status]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF_Invoices_IssueDate]  DEFAULT (CONVERT([date],sysutcdatetime())) FOR [IssueDate]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF_Invoices_SubTotal]  DEFAULT ((0)) FOR [SubTotal]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF_Invoices_Discount]  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF_Invoices_Tax]  DEFAULT ((0)) FOR [TaxAmount]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF_Invoices_Total]  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF_Invoices_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[JournalEntries] ADD  CONSTRAINT [DF_JournalEntries_Status]  DEFAULT ('Draft') FOR [Status]
GO
ALTER TABLE [dbo].[JournalEntries] ADD  CONSTRAINT [DF_JournalEntries_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[JournalEntryLines] ADD  CONSTRAINT [DF_JournalEntryLines_Debit]  DEFAULT ((0)) FOR [Debit]
GO
ALTER TABLE [dbo].[JournalEntryLines] ADD  CONSTRAINT [DF_JournalEntryLines_Credit]  DEFAULT ((0)) FOR [Credit]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Notifications_IsRead]  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Notifications_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  CONSTRAINT [DF_Payments_PaymentDate]  DEFAULT (sysutcdatetime()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Payments] ADD  CONSTRAINT [DF_Payments_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  CONSTRAINT [DF_Payments_Status]  DEFAULT ('Draft') FOR [Status]
GO
ALTER TABLE [dbo].[PaymentVoucherAllocations] ADD  CONSTRAINT [DF_PaymentVoucherAllocations_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PaymentVouchers] ADD  CONSTRAINT [DF_PaymentVouchers_Status]  DEFAULT ('Draft') FOR [Status]
GO
ALTER TABLE [dbo].[PaymentVouchers] ADD  CONSTRAINT [DF_PaymentVouchers_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProjectCorrespondences] ADD  CONSTRAINT [DF_ProjectCorrespondences_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProjectFiles] ADD  CONSTRAINT [DF_ProjectFiles_UploadedAt]  DEFAULT (sysutcdatetime()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[ProjectMembers] ADD  CONSTRAINT [DF_ProjectMembers_JoinedAt]  DEFAULT (CONVERT([date],sysutcdatetime())) FOR [JoinedAt]
GO
ALTER TABLE [dbo].[Projects] ADD  CONSTRAINT [DF_Projects_Status]  DEFAULT ('Planned') FOR [Status]
GO
ALTER TABLE [dbo].[Projects] ADD  CONSTRAINT [DF_Projects_Progress]  DEFAULT ((0)) FOR [ProgressPercentage]
GO
ALTER TABLE [dbo].[Projects] ADD  CONSTRAINT [DF_Projects_Budget]  DEFAULT ((0)) FOR [BudgetAmount]
GO
ALTER TABLE [dbo].[Projects] ADD  CONSTRAINT [DF_Projects_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProjectStages] ADD  CONSTRAINT [DF_ProjectStages_Progress]  DEFAULT ((0)) FOR [ProgressPercentage]
GO
ALTER TABLE [dbo].[ProjectStages] ADD  CONSTRAINT [DF_ProjectStages_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProjectStatusHistory] ADD  CONSTRAINT [DF_ProjectStatusHistory_ChangedAt]  DEFAULT (sysdatetime()) FOR [ChangedAt]
GO
ALTER TABLE [dbo].[ProjectTasks] ADD  CONSTRAINT [DF_ProjectTasks_Status]  DEFAULT ('ToDo') FOR [Status]
GO
ALTER TABLE [dbo].[ProjectTasks] ADD  CONSTRAINT [DF_ProjectTasks_Priority]  DEFAULT ('Medium') FOR [Priority]
GO
ALTER TABLE [dbo].[ProjectTasks] ADD  CONSTRAINT [DF_ProjectTasks_Progress]  DEFAULT ((0)) FOR [ProgressPercentage]
GO
ALTER TABLE [dbo].[ProjectTasks] ADD  CONSTRAINT [DF_ProjectTasks_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PurchaseInvoiceItems] ADD  CONSTRAINT [DF_PurchaseInvoiceItems_Discount]  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[PurchaseInvoiceItems] ADD  CONSTRAINT [DF_PurchaseInvoiceItems_Tax]  DEFAULT ((0)) FOR [TaxAmount]
GO
ALTER TABLE [dbo].[PurchaseInvoices] ADD  CONSTRAINT [DF_PurchaseInvoices_Status]  DEFAULT ('Draft') FOR [Status]
GO
ALTER TABLE [dbo].[PurchaseInvoices] ADD  CONSTRAINT [DF_PurchaseInvoices_SubTotal]  DEFAULT ((0)) FOR [SubTotal]
GO
ALTER TABLE [dbo].[PurchaseInvoices] ADD  CONSTRAINT [DF_PurchaseInvoices_Discount]  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[PurchaseInvoices] ADD  CONSTRAINT [DF_PurchaseInvoices_Tax]  DEFAULT ((0)) FOR [TaxAmount]
GO
ALTER TABLE [dbo].[PurchaseInvoices] ADD  CONSTRAINT [DF_PurchaseInvoices_Total]  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[PurchaseInvoices] ADD  CONSTRAINT [DF_PurchaseInvoices_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[QuotationItems] ADD  CONSTRAINT [DF_QuotationItems_Discount]  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[QuotationItems] ADD  CONSTRAINT [DF_QuotationItems_Tax]  DEFAULT ((0)) FOR [TaxAmount]
GO
ALTER TABLE [dbo].[QuotationPaymentTerms] ADD  CONSTRAINT [DF_QuotationPaymentTerms_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Quotations] ADD  CONSTRAINT [DF_Quotations_Status]  DEFAULT ('Draft') FOR [Status]
GO
ALTER TABLE [dbo].[Quotations] ADD  CONSTRAINT [DF_Quotations_IssueDate]  DEFAULT (CONVERT([date],sysutcdatetime())) FOR [IssueDate]
GO
ALTER TABLE [dbo].[Quotations] ADD  CONSTRAINT [DF_Quotations_SubTotal]  DEFAULT ((0)) FOR [SubTotal]
GO
ALTER TABLE [dbo].[Quotations] ADD  CONSTRAINT [DF_Quotations_Discount]  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[Quotations] ADD  CONSTRAINT [DF_Quotations_Tax]  DEFAULT ((0)) FOR [TaxAmount]
GO
ALTER TABLE [dbo].[Quotations] ADD  CONSTRAINT [DF_Quotations_Total]  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Quotations] ADD  CONSTRAINT [DF_Quotations_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RefreshTokens] ADD  CONSTRAINT [DF_RefreshTokens_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Services] ADD  CONSTRAINT [DF_Services_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Services] ADD  CONSTRAINT [DF_Services_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Suppliers] ADD  CONSTRAINT [DF_Suppliers_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Suppliers] ADD  CONSTRAINT [DF_Suppliers_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_ParentAccount] FOREIGN KEY([ParentAccountId])
REFERENCES [dbo].[Accounts] ([Id])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_ParentAccount]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_Users]
GO
ALTER TABLE [dbo].[CostCenters]  WITH CHECK ADD  CONSTRAINT [FK_CostCenters_Branches] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
GO
ALTER TABLE [dbo].[CostCenters] CHECK CONSTRAINT [FK_CostCenters_Branches]
GO
ALTER TABLE [dbo].[CostCenters]  WITH CHECK ADD  CONSTRAINT [FK_CostCenters_Parent] FOREIGN KEY([ParentCostCenterId])
REFERENCES [dbo].[CostCenters] ([Id])
GO
ALTER TABLE [dbo].[CostCenters] CHECK CONSTRAINT [FK_CostCenters_Parent]
GO
ALTER TABLE [dbo].[CustomerContacts]  WITH CHECK ADD  CONSTRAINT [FK_CustomerContacts_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[CustomerContacts] CHECK CONSTRAINT [FK_CustomerContacts_Customers]
GO
ALTER TABLE [dbo].[Expenses]  WITH CHECK ADD  CONSTRAINT [FK_Expenses_CreatedBy] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Expenses] CHECK CONSTRAINT [FK_Expenses_CreatedBy]
GO
ALTER TABLE [dbo].[Expenses]  WITH CHECK ADD  CONSTRAINT [FK_Expenses_Projects] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
GO
ALTER TABLE [dbo].[Expenses] CHECK CONSTRAINT [FK_Expenses_Projects]
GO
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceItems_Invoices] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoices] ([Id])
GO
ALTER TABLE [dbo].[InvoiceItems] CHECK CONSTRAINT [FK_InvoiceItems_Invoices]
GO
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceItems_Services] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([Id])
GO
ALTER TABLE [dbo].[InvoiceItems] CHECK CONSTRAINT [FK_InvoiceItems_Services]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_CreatedBy] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_CreatedBy]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Customers]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Projects] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Projects]
GO
ALTER TABLE [dbo].[JournalEntries]  WITH CHECK ADD  CONSTRAINT [FK_JournalEntries_CreatedByUser] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[JournalEntries] CHECK CONSTRAINT [FK_JournalEntries_CreatedByUser]
GO
ALTER TABLE [dbo].[JournalEntries]  WITH CHECK ADD  CONSTRAINT [FK_JournalEntries_PostedByUser] FOREIGN KEY([PostedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[JournalEntries] CHECK CONSTRAINT [FK_JournalEntries_PostedByUser]
GO
ALTER TABLE [dbo].[JournalEntryLines]  WITH CHECK ADD  CONSTRAINT [FK_JournalEntryLines_Accounts] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([Id])
GO
ALTER TABLE [dbo].[JournalEntryLines] CHECK CONSTRAINT [FK_JournalEntryLines_Accounts]
GO
ALTER TABLE [dbo].[JournalEntryLines]  WITH CHECK ADD  CONSTRAINT [FK_JournalEntryLines_Branches] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
GO
ALTER TABLE [dbo].[JournalEntryLines] CHECK CONSTRAINT [FK_JournalEntryLines_Branches]
GO
ALTER TABLE [dbo].[JournalEntryLines]  WITH CHECK ADD  CONSTRAINT [FK_JournalEntryLines_CostCenters] FOREIGN KEY([CostCenterId])
REFERENCES [dbo].[CostCenters] ([Id])
GO
ALTER TABLE [dbo].[JournalEntryLines] CHECK CONSTRAINT [FK_JournalEntryLines_CostCenters]
GO
ALTER TABLE [dbo].[JournalEntryLines]  WITH CHECK ADD  CONSTRAINT [FK_JournalEntryLines_JournalEntries] FOREIGN KEY([JournalEntryId])
REFERENCES [dbo].[JournalEntries] ([Id])
GO
ALTER TABLE [dbo].[JournalEntryLines] CHECK CONSTRAINT [FK_JournalEntryLines_JournalEntries]
GO
ALTER TABLE [dbo].[JournalEntryLines]  WITH CHECK ADD  CONSTRAINT [FK_JournalEntryLines_Projects] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
GO
ALTER TABLE [dbo].[JournalEntryLines] CHECK CONSTRAINT [FK_JournalEntryLines_Projects]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Customers]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Invoices] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoices] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Invoices]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_PostedByUser] FOREIGN KEY([PostedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_PostedByUser]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_ReceivedBy] FOREIGN KEY([ReceivedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_ReceivedBy]
GO
ALTER TABLE [dbo].[PaymentVoucherAllocations]  WITH CHECK ADD  CONSTRAINT [FK_PaymentVoucherAllocations_Invoice] FOREIGN KEY([PurchaseInvoiceId])
REFERENCES [dbo].[PurchaseInvoices] ([Id])
GO
ALTER TABLE [dbo].[PaymentVoucherAllocations] CHECK CONSTRAINT [FK_PaymentVoucherAllocations_Invoice]
GO
ALTER TABLE [dbo].[PaymentVoucherAllocations]  WITH CHECK ADD  CONSTRAINT [FK_PaymentVoucherAllocations_Voucher] FOREIGN KEY([PaymentVoucherId])
REFERENCES [dbo].[PaymentVouchers] ([Id])
GO
ALTER TABLE [dbo].[PaymentVoucherAllocations] CHECK CONSTRAINT [FK_PaymentVoucherAllocations_Voucher]
GO
ALTER TABLE [dbo].[PaymentVouchers]  WITH CHECK ADD  CONSTRAINT [FK_PaymentVouchers_PaidByUser] FOREIGN KEY([PaidByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PaymentVouchers] CHECK CONSTRAINT [FK_PaymentVouchers_PaidByUser]
GO
ALTER TABLE [dbo].[PaymentVouchers]  WITH CHECK ADD  CONSTRAINT [FK_PaymentVouchers_PostedByUser] FOREIGN KEY([PostedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PaymentVouchers] CHECK CONSTRAINT [FK_PaymentVouchers_PostedByUser]
GO
ALTER TABLE [dbo].[PaymentVouchers]  WITH CHECK ADD  CONSTRAINT [FK_PaymentVouchers_Projects] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
GO
ALTER TABLE [dbo].[PaymentVouchers] CHECK CONSTRAINT [FK_PaymentVouchers_Projects]
GO
ALTER TABLE [dbo].[PaymentVouchers]  WITH CHECK ADD  CONSTRAINT [FK_PaymentVouchers_Suppliers] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([Id])
GO
ALTER TABLE [dbo].[PaymentVouchers] CHECK CONSTRAINT [FK_PaymentVouchers_Suppliers]
GO
ALTER TABLE [dbo].[ProjectCorrespondences]  WITH CHECK ADD  CONSTRAINT [FK_ProjectCorrespondences_Project] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
GO
ALTER TABLE [dbo].[ProjectCorrespondences] CHECK CONSTRAINT [FK_ProjectCorrespondences_Project]
GO
ALTER TABLE [dbo].[ProjectCorrespondences]  WITH CHECK ADD  CONSTRAINT [FK_ProjectCorrespondences_User] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ProjectCorrespondences] CHECK CONSTRAINT [FK_ProjectCorrespondences_User]
GO
ALTER TABLE [dbo].[ProjectFiles]  WITH CHECK ADD  CONSTRAINT [FK_ProjectFiles_Projects] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
GO
ALTER TABLE [dbo].[ProjectFiles] CHECK CONSTRAINT [FK_ProjectFiles_Projects]
GO
ALTER TABLE [dbo].[ProjectFiles]  WITH CHECK ADD  CONSTRAINT [FK_ProjectFiles_UploadedBy] FOREIGN KEY([UploadedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ProjectFiles] CHECK CONSTRAINT [FK_ProjectFiles_UploadedBy]
GO
ALTER TABLE [dbo].[ProjectMembers]  WITH CHECK ADD  CONSTRAINT [FK_ProjectMembers_Projects] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
GO
ALTER TABLE [dbo].[ProjectMembers] CHECK CONSTRAINT [FK_ProjectMembers_Projects]
GO
ALTER TABLE [dbo].[ProjectMembers]  WITH CHECK ADD  CONSTRAINT [FK_ProjectMembers_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ProjectMembers] CHECK CONSTRAINT [FK_ProjectMembers_Users]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_CreatedBy] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_CreatedBy]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_Customers]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_Manager] FOREIGN KEY([ProjectManagerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_Manager]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_Quotations] FOREIGN KEY([SourceQuotationId])
REFERENCES [dbo].[Quotations] ([Id])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_Quotations]
GO
ALTER TABLE [dbo].[ProjectStages]  WITH CHECK ADD  CONSTRAINT [FK_ProjectStages_Projects] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
GO
ALTER TABLE [dbo].[ProjectStages] CHECK CONSTRAINT [FK_ProjectStages_Projects]
GO
ALTER TABLE [dbo].[ProjectStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_ProjectStatusHistory_Projects] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
GO
ALTER TABLE [dbo].[ProjectStatusHistory] CHECK CONSTRAINT [FK_ProjectStatusHistory_Projects]
GO
ALTER TABLE [dbo].[ProjectStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_ProjectStatusHistory_Users] FOREIGN KEY([ChangedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ProjectStatusHistory] CHECK CONSTRAINT [FK_ProjectStatusHistory_Users]
GO
ALTER TABLE [dbo].[ProjectTasks]  WITH CHECK ADD  CONSTRAINT [FK_ProjectTasks_AssignedTo] FOREIGN KEY([AssignedToUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ProjectTasks] CHECK CONSTRAINT [FK_ProjectTasks_AssignedTo]
GO
ALTER TABLE [dbo].[ProjectTasks]  WITH CHECK ADD  CONSTRAINT [FK_ProjectTasks_CreatedBy] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ProjectTasks] CHECK CONSTRAINT [FK_ProjectTasks_CreatedBy]
GO
ALTER TABLE [dbo].[ProjectTasks]  WITH CHECK ADD  CONSTRAINT [FK_ProjectTasks_Parent] FOREIGN KEY([ParentTaskId])
REFERENCES [dbo].[ProjectTasks] ([Id])
GO
ALTER TABLE [dbo].[ProjectTasks] CHECK CONSTRAINT [FK_ProjectTasks_Parent]
GO
ALTER TABLE [dbo].[ProjectTasks]  WITH CHECK ADD  CONSTRAINT [FK_ProjectTasks_Projects] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
GO
ALTER TABLE [dbo].[ProjectTasks] CHECK CONSTRAINT [FK_ProjectTasks_Projects]
GO
ALTER TABLE [dbo].[ProjectTasks]  WITH CHECK ADD  CONSTRAINT [FK_ProjectTasks_ProjectStages] FOREIGN KEY([StageId])
REFERENCES [dbo].[ProjectStages] ([Id])
GO
ALTER TABLE [dbo].[ProjectTasks] CHECK CONSTRAINT [FK_ProjectTasks_ProjectStages]
GO
ALTER TABLE [dbo].[PurchaseInvoiceItems]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseInvoiceItems_PurchaseInvoices] FOREIGN KEY([PurchaseInvoiceId])
REFERENCES [dbo].[PurchaseInvoices] ([Id])
GO
ALTER TABLE [dbo].[PurchaseInvoiceItems] CHECK CONSTRAINT [FK_PurchaseInvoiceItems_PurchaseInvoices]
GO
ALTER TABLE [dbo].[PurchaseInvoices]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseInvoices_CreatedByUser] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PurchaseInvoices] CHECK CONSTRAINT [FK_PurchaseInvoices_CreatedByUser]
GO
ALTER TABLE [dbo].[PurchaseInvoices]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseInvoices_PostedByUser] FOREIGN KEY([PostedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PurchaseInvoices] CHECK CONSTRAINT [FK_PurchaseInvoices_PostedByUser]
GO
ALTER TABLE [dbo].[PurchaseInvoices]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseInvoices_Projects] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
GO
ALTER TABLE [dbo].[PurchaseInvoices] CHECK CONSTRAINT [FK_PurchaseInvoices_Projects]
GO
ALTER TABLE [dbo].[PurchaseInvoices]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseInvoices_Suppliers] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([Id])
GO
ALTER TABLE [dbo].[PurchaseInvoices] CHECK CONSTRAINT [FK_PurchaseInvoices_Suppliers]
GO
ALTER TABLE [dbo].[QuotationItems]  WITH CHECK ADD  CONSTRAINT [FK_QuotationItems_Quotations] FOREIGN KEY([QuotationId])
REFERENCES [dbo].[Quotations] ([Id])
GO
ALTER TABLE [dbo].[QuotationItems] CHECK CONSTRAINT [FK_QuotationItems_Quotations]
GO
ALTER TABLE [dbo].[QuotationItems]  WITH CHECK ADD  CONSTRAINT [FK_QuotationItems_Services] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([Id])
GO
ALTER TABLE [dbo].[QuotationItems] CHECK CONSTRAINT [FK_QuotationItems_Services]
GO
ALTER TABLE [dbo].[QuotationPaymentTerms]  WITH CHECK ADD  CONSTRAINT [FK_QuotationPaymentTerms_Quotations] FOREIGN KEY([QuotationId])
REFERENCES [dbo].[Quotations] ([Id])
GO
ALTER TABLE [dbo].[QuotationPaymentTerms] CHECK CONSTRAINT [FK_QuotationPaymentTerms_Quotations]
GO
ALTER TABLE [dbo].[Quotations]  WITH CHECK ADD  CONSTRAINT [FK_Quotations_ApprovedBy] FOREIGN KEY([ApprovedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Quotations] CHECK CONSTRAINT [FK_Quotations_ApprovedBy]
GO
ALTER TABLE [dbo].[Quotations]  WITH CHECK ADD  CONSTRAINT [FK_Quotations_CreatedBy] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Quotations] CHECK CONSTRAINT [FK_Quotations_CreatedBy]
GO
ALTER TABLE [dbo].[Quotations]  WITH CHECK ADD  CONSTRAINT [FK_Quotations_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Quotations] CHECK CONSTRAINT [FK_Quotations_Customers]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_ReplacedBy] FOREIGN KEY([ReplacedById])
REFERENCES [dbo].[RefreshTokens] ([Id])
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_ReplacedBy]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [CK_Accounts_AccountType] CHECK  (([AccountType]='Expense' OR [AccountType]='Revenue' OR [AccountType]='Equity' OR [AccountType]='Liability' OR [AccountType]='Asset'))
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [CK_Accounts_AccountType]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [CK_Accounts_Name_NotEmpty] CHECK  ((len(ltrim(rtrim([AccountName])))>(0)))
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [CK_Accounts_Name_NotEmpty]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [CK_AuditLogs_Action] CHECK  ((len(ltrim(rtrim([Action])))>(0)))
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [CK_AuditLogs_Action]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [CK_AuditLogs_EntityType] CHECK  ((len(ltrim(rtrim([EntityType])))>(0)))
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [CK_AuditLogs_EntityType]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [CK_AuditLogs_Json] CHECK  ((([OldValues] IS NULL OR isjson([OldValues])=(1)) AND ([NewValues] IS NULL OR isjson([NewValues])=(1))))
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [CK_AuditLogs_Json]
GO
ALTER TABLE [dbo].[Branches]  WITH CHECK ADD  CONSTRAINT [CK_Branches_Name] CHECK  ((len(ltrim(rtrim([Name])))>(0)))
GO
ALTER TABLE [dbo].[Branches] CHECK CONSTRAINT [CK_Branches_Name]
GO
ALTER TABLE [dbo].[CustomerContacts]  WITH CHECK ADD  CONSTRAINT [CK_CustomerContacts_Contact] CHECK  (([Email] IS NOT NULL OR [PhoneNumber] IS NOT NULL))
GO
ALTER TABLE [dbo].[CustomerContacts] CHECK CONSTRAINT [CK_CustomerContacts_Contact]
GO
ALTER TABLE [dbo].[CustomerContacts]  WITH CHECK ADD  CONSTRAINT [CK_CustomerContacts_Name_NotEmpty] CHECK  ((len(ltrim(rtrim([FullName])))>(0)))
GO
ALTER TABLE [dbo].[CustomerContacts] CHECK CONSTRAINT [CK_CustomerContacts_Name_NotEmpty]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [CK_Customers_Code_NotEmpty] CHECK  ((len(ltrim(rtrim([CustomerCode])))>(0)))
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [CK_Customers_Code_NotEmpty]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [CK_Customers_Name_NotEmpty] CHECK  ((len(ltrim(rtrim([Name])))>(0)))
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [CK_Customers_Name_NotEmpty]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [CK_Customers_Type] CHECK  (([CustomerType]='Company' OR [CustomerType]='Individual'))
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [CK_Customers_Type]
GO
ALTER TABLE [dbo].[Expenses]  WITH CHECK ADD  CONSTRAINT [CK_Expenses_Amount] CHECK  (([Amount]>(0)))
GO
ALTER TABLE [dbo].[Expenses] CHECK CONSTRAINT [CK_Expenses_Amount]
GO
ALTER TABLE [dbo].[Expenses]  WITH CHECK ADD  CONSTRAINT [CK_Expenses_Category_NotEmpty] CHECK  ((len(ltrim(rtrim([Category])))>(0)))
GO
ALTER TABLE [dbo].[Expenses] CHECK CONSTRAINT [CK_Expenses_Category_NotEmpty]
GO
ALTER TABLE [dbo].[Expenses]  WITH CHECK ADD  CONSTRAINT [CK_Expenses_Description_NotEmpty] CHECK  ((len(ltrim(rtrim([Description])))>(0)))
GO
ALTER TABLE [dbo].[Expenses] CHECK CONSTRAINT [CK_Expenses_Description_NotEmpty]
GO
ALTER TABLE [dbo].[Expenses]  WITH CHECK ADD  CONSTRAINT [CK_Expenses_Number_NotEmpty] CHECK  ((len(ltrim(rtrim([ExpenseNumber])))>(0)))
GO
ALTER TABLE [dbo].[Expenses] CHECK CONSTRAINT [CK_Expenses_Number_NotEmpty]
GO
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD  CONSTRAINT [CK_InvoiceItems_Amounts] CHECK  (([Quantity]>(0) AND [UnitPrice]>=(0) AND [DiscountAmount]>=(0) AND [DiscountAmount]<=[Quantity]*[UnitPrice] AND [TaxAmount]>=(0) AND [LineTotal]=(([Quantity]*[UnitPrice]-[DiscountAmount])+[TaxAmount])))
GO
ALTER TABLE [dbo].[InvoiceItems] CHECK CONSTRAINT [CK_InvoiceItems_Amounts]
GO
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD  CONSTRAINT [CK_InvoiceItems_Description] CHECK  ((len(ltrim(rtrim([Description])))>(0)))
GO
ALTER TABLE [dbo].[InvoiceItems] CHECK CONSTRAINT [CK_InvoiceItems_Description]
GO
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD  CONSTRAINT [CK_InvoiceItems_LineNumber] CHECK  (([LineNumber]>(0)))
GO
ALTER TABLE [dbo].[InvoiceItems] CHECK CONSTRAINT [CK_InvoiceItems_LineNumber]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [CK_Invoices_Amounts] CHECK  (([SubTotal]>=(0) AND [DiscountAmount]>=(0) AND [DiscountAmount]<=[SubTotal] AND [TaxAmount]>=(0) AND [TotalAmount]=(([SubTotal]-[DiscountAmount])+[TaxAmount])))
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [CK_Invoices_Amounts]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [CK_Invoices_Dates] CHECK  (([DueDate] IS NULL OR [DueDate]>=[IssueDate]))
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [CK_Invoices_Dates]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [CK_Invoices_Number_NotEmpty] CHECK  ((len(ltrim(rtrim([InvoiceNumber])))>(0)))
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [CK_Invoices_Number_NotEmpty]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [CK_Invoices_Status] CHECK  (([Status]='Cancelled' OR [Status]='Paid' OR [Status]='PartiallyPaid' OR [Status]='Issued' OR [Status]='Draft'))
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [CK_Invoices_Status]
GO
ALTER TABLE [dbo].[JournalEntries]  WITH CHECK ADD  CONSTRAINT [CK_JournalEntries_Status] CHECK  (([Status]='Cancelled' OR [Status]='Posted' OR [Status]='Draft'))
GO
ALTER TABLE [dbo].[JournalEntries] CHECK CONSTRAINT [CK_JournalEntries_Status]
GO
ALTER TABLE [dbo].[JournalEntryLines]  WITH CHECK ADD  CONSTRAINT [CK_JournalEntryLines_DebitCredit] CHECK  (([Debit]>(0) AND [Credit]=(0) OR [Credit]>(0) AND [Debit]=(0)))
GO
ALTER TABLE [dbo].[JournalEntryLines] CHECK CONSTRAINT [CK_JournalEntryLines_DebitCredit]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [CK_Notifications_Entity] CHECK  (([EntityType] IS NULL AND [EntityId] IS NULL OR [EntityType] IS NOT NULL AND [EntityId] IS NOT NULL))
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [CK_Notifications_Entity]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [CK_Notifications_Message] CHECK  ((len(ltrim(rtrim([Message])))>(0)))
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [CK_Notifications_Message]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [CK_Notifications_Read] CHECK  (([IsRead]=(0) AND [ReadAt] IS NULL OR [IsRead]=(1) AND [ReadAt] IS NOT NULL))
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [CK_Notifications_Read]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [CK_Notifications_Title] CHECK  ((len(ltrim(rtrim([Title])))>(0)))
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [CK_Notifications_Title]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [CK_Payments_Amount] CHECK  (([Amount]>(0)))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [CK_Payments_Amount]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [CK_Payments_Method] CHECK  (([PaymentMethod]='Other' OR [PaymentMethod]='BankTransfer' OR [PaymentMethod]='Card' OR [PaymentMethod]='Cash'))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [CK_Payments_Method]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [CK_Payments_Number_NotEmpty] CHECK  ((len(ltrim(rtrim([PaymentNumber])))>(0)))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [CK_Payments_Number_NotEmpty]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [CK_Payments_Status] CHECK  (([Status]='Cancelled' OR [Status]='Posted' OR [Status]='Draft'))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [CK_Payments_Status]
GO
ALTER TABLE [dbo].[PaymentVoucherAllocations]  WITH CHECK ADD  CONSTRAINT [CK_PaymentVoucherAllocations_Amount] CHECK  (([AllocatedAmount]>(0)))
GO
ALTER TABLE [dbo].[PaymentVoucherAllocations] CHECK CONSTRAINT [CK_PaymentVoucherAllocations_Amount]
GO
ALTER TABLE [dbo].[PaymentVouchers]  WITH CHECK ADD  CONSTRAINT [CK_PaymentVouchers_Amount] CHECK  (([Amount]>(0)))
GO
ALTER TABLE [dbo].[PaymentVouchers] CHECK CONSTRAINT [CK_PaymentVouchers_Amount]
GO
ALTER TABLE [dbo].[PaymentVouchers]  WITH CHECK ADD  CONSTRAINT [CK_PaymentVouchers_Beneficiary] CHECK  (([SupplierId] IS NOT NULL OR [BeneficiaryName] IS NOT NULL))
GO
ALTER TABLE [dbo].[PaymentVouchers] CHECK CONSTRAINT [CK_PaymentVouchers_Beneficiary]
GO
ALTER TABLE [dbo].[PaymentVouchers]  WITH CHECK ADD  CONSTRAINT [CK_PaymentVouchers_Method] CHECK  (([PaymentMethod]='Other' OR [PaymentMethod]='Cheque' OR [PaymentMethod]='Card' OR [PaymentMethod]='BankTransfer' OR [PaymentMethod]='Cash'))
GO
ALTER TABLE [dbo].[PaymentVouchers] CHECK CONSTRAINT [CK_PaymentVouchers_Method]
GO
ALTER TABLE [dbo].[PaymentVouchers]  WITH CHECK ADD  CONSTRAINT [CK_PaymentVouchers_Status] CHECK  (([Status]='Cancelled' OR [Status]='Posted' OR [Status]='Draft'))
GO
ALTER TABLE [dbo].[PaymentVouchers] CHECK CONSTRAINT [CK_PaymentVouchers_Status]
GO
ALTER TABLE [dbo].[ProjectCorrespondences]  WITH CHECK ADD  CONSTRAINT [CK_ProjectCorrespondences_Type] CHECK  (([CorrespondenceType]='Outgoing' OR [CorrespondenceType]='Incoming'))
GO
ALTER TABLE [dbo].[ProjectCorrespondences] CHECK CONSTRAINT [CK_ProjectCorrespondences_Type]
GO
ALTER TABLE [dbo].[ProjectFiles]  WITH CHECK ADD  CONSTRAINT [CK_ProjectFiles_FileName] CHECK  ((len(ltrim(rtrim([FileName])))>(0)))
GO
ALTER TABLE [dbo].[ProjectFiles] CHECK CONSTRAINT [CK_ProjectFiles_FileName]
GO
ALTER TABLE [dbo].[ProjectFiles]  WITH CHECK ADD  CONSTRAINT [CK_ProjectFiles_Size] CHECK  (([FileSizeBytes]>(0)))
GO
ALTER TABLE [dbo].[ProjectFiles] CHECK CONSTRAINT [CK_ProjectFiles_Size]
GO
ALTER TABLE [dbo].[ProjectFiles]  WITH CHECK ADD  CONSTRAINT [CK_ProjectFiles_StorageKey] CHECK  ((len(ltrim(rtrim([StorageKey])))>(0)))
GO
ALTER TABLE [dbo].[ProjectFiles] CHECK CONSTRAINT [CK_ProjectFiles_StorageKey]
GO
ALTER TABLE [dbo].[ProjectMembers]  WITH CHECK ADD  CONSTRAINT [CK_ProjectMembers_Dates] CHECK  (([LeftAt] IS NULL OR [LeftAt]>=[JoinedAt]))
GO
ALTER TABLE [dbo].[ProjectMembers] CHECK CONSTRAINT [CK_ProjectMembers_Dates]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [CK_Projects_Budget] CHECK  (([BudgetAmount]>=(0)))
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [CK_Projects_Budget]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [CK_Projects_Code_NotEmpty] CHECK  ((len(ltrim(rtrim([ProjectCode])))>(0)))
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [CK_Projects_Code_NotEmpty]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [CK_Projects_Completion] CHECK  (([ActualCompletionDate] IS NULL OR [StartDate] IS NULL OR [ActualCompletionDate]>=[StartDate]))
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [CK_Projects_Completion]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [CK_Projects_Dates] CHECK  (([EndDate] IS NULL OR [StartDate] IS NULL OR [EndDate]>=[StartDate]))
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [CK_Projects_Dates]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [CK_Projects_Name_NotEmpty] CHECK  ((len(ltrim(rtrim([Name])))>(0)))
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [CK_Projects_Name_NotEmpty]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [CK_Projects_Progress] CHECK  (([ProgressPercentage]>=(0) AND [ProgressPercentage]<=(100)))
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [CK_Projects_Progress]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [CK_Projects_Status] CHECK  (([Status]='Cancelled' OR [Status]='Completed' OR [Status]='OnHold' OR [Status]='InProgress' OR [Status]='Planned'))
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [CK_Projects_Status]
GO
ALTER TABLE [dbo].[ProjectStages]  WITH CHECK ADD  CONSTRAINT [CK_ProjectStages_Progress] CHECK  (([ProgressPercentage]>=(0) AND [ProgressPercentage]<=(100)))
GO
ALTER TABLE [dbo].[ProjectStages] CHECK CONSTRAINT [CK_ProjectStages_Progress]
GO
ALTER TABLE [dbo].[ProjectTasks]  WITH CHECK ADD  CONSTRAINT [CK_ProjectTasks_Completion] CHECK  (([Status]='Completed' AND [CompletedAt] IS NOT NULL AND [ProgressPercentage]=(100) OR [Status]<>'Completed' AND [CompletedAt] IS NULL))
GO
ALTER TABLE [dbo].[ProjectTasks] CHECK CONSTRAINT [CK_ProjectTasks_Completion]
GO
ALTER TABLE [dbo].[ProjectTasks]  WITH CHECK ADD  CONSTRAINT [CK_ProjectTasks_Dates] CHECK  (([DueDate] IS NULL OR [StartDate] IS NULL OR [DueDate]>=[StartDate]))
GO
ALTER TABLE [dbo].[ProjectTasks] CHECK CONSTRAINT [CK_ProjectTasks_Dates]
GO
ALTER TABLE [dbo].[ProjectTasks]  WITH CHECK ADD  CONSTRAINT [CK_ProjectTasks_Priority] CHECK  (([Priority]='Urgent' OR [Priority]='High' OR [Priority]='Medium' OR [Priority]='Low'))
GO
ALTER TABLE [dbo].[ProjectTasks] CHECK CONSTRAINT [CK_ProjectTasks_Priority]
GO
ALTER TABLE [dbo].[ProjectTasks]  WITH CHECK ADD  CONSTRAINT [CK_ProjectTasks_Progress] CHECK  (([ProgressPercentage]>=(0) AND [ProgressPercentage]<=(100)))
GO
ALTER TABLE [dbo].[ProjectTasks] CHECK CONSTRAINT [CK_ProjectTasks_Progress]
GO
ALTER TABLE [dbo].[ProjectTasks]  WITH CHECK ADD  CONSTRAINT [CK_ProjectTasks_Status] CHECK  (([Status]='Cancelled' OR [Status]='Completed' OR [Status]='InProgress' OR [Status]='ToDo'))
GO
ALTER TABLE [dbo].[ProjectTasks] CHECK CONSTRAINT [CK_ProjectTasks_Status]
GO
ALTER TABLE [dbo].[ProjectTasks]  WITH CHECK ADD  CONSTRAINT [CK_ProjectTasks_TaskType] CHECK  (([TaskType] IS NULL OR ([TaskType]='Administrative' OR [TaskType]='Technical')))
GO
ALTER TABLE [dbo].[ProjectTasks] CHECK CONSTRAINT [CK_ProjectTasks_TaskType]
GO
ALTER TABLE [dbo].[ProjectTasks]  WITH CHECK ADD  CONSTRAINT [CK_ProjectTasks_Title_NotEmpty] CHECK  ((len(ltrim(rtrim([Title])))>(0)))
GO
ALTER TABLE [dbo].[ProjectTasks] CHECK CONSTRAINT [CK_ProjectTasks_Title_NotEmpty]
GO
ALTER TABLE [dbo].[PurchaseInvoiceItems]  WITH CHECK ADD  CONSTRAINT [CK_PurchaseInvoiceItems_Amounts] CHECK  (([DiscountAmount]>=(0) AND [TaxAmount]>=(0) AND [LineTotal]>=(0)))
GO
ALTER TABLE [dbo].[PurchaseInvoiceItems] CHECK CONSTRAINT [CK_PurchaseInvoiceItems_Amounts]
GO
ALTER TABLE [dbo].[PurchaseInvoiceItems]  WITH CHECK ADD  CONSTRAINT [CK_PurchaseInvoiceItems_Quantity] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[PurchaseInvoiceItems] CHECK CONSTRAINT [CK_PurchaseInvoiceItems_Quantity]
GO
ALTER TABLE [dbo].[PurchaseInvoiceItems]  WITH CHECK ADD  CONSTRAINT [CK_PurchaseInvoiceItems_UnitPrice] CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[PurchaseInvoiceItems] CHECK CONSTRAINT [CK_PurchaseInvoiceItems_UnitPrice]
GO
ALTER TABLE [dbo].[PurchaseInvoices]  WITH CHECK ADD  CONSTRAINT [CK_PurchaseInvoices_Amounts] CHECK  (([SubTotal]>=(0) AND [DiscountAmount]>=(0) AND [TaxAmount]>=(0) AND [TotalAmount]>=(0)))
GO
ALTER TABLE [dbo].[PurchaseInvoices] CHECK CONSTRAINT [CK_PurchaseInvoices_Amounts]
GO
ALTER TABLE [dbo].[PurchaseInvoices]  WITH CHECK ADD  CONSTRAINT [CK_PurchaseInvoices_Dates] CHECK  (([DueDate] IS NULL OR [DueDate]>=[IssueDate]))
GO
ALTER TABLE [dbo].[PurchaseInvoices] CHECK CONSTRAINT [CK_PurchaseInvoices_Dates]
GO
ALTER TABLE [dbo].[PurchaseInvoices]  WITH CHECK ADD  CONSTRAINT [CK_PurchaseInvoices_Status] CHECK  (([Status]='Cancelled' OR [Status]='Posted' OR [Status]='Draft'))
GO
ALTER TABLE [dbo].[PurchaseInvoices] CHECK CONSTRAINT [CK_PurchaseInvoices_Status]
GO
ALTER TABLE [dbo].[QuotationItems]  WITH CHECK ADD  CONSTRAINT [CK_QuotationItems_Amounts] CHECK  (([Quantity]>(0) AND [UnitPrice]>=(0) AND [DiscountAmount]>=(0) AND [DiscountAmount]<=[Quantity]*[UnitPrice] AND [TaxAmount]>=(0) AND [LineTotal]=(([Quantity]*[UnitPrice]-[DiscountAmount])+[TaxAmount])))
GO
ALTER TABLE [dbo].[QuotationItems] CHECK CONSTRAINT [CK_QuotationItems_Amounts]
GO
ALTER TABLE [dbo].[QuotationItems]  WITH CHECK ADD  CONSTRAINT [CK_QuotationItems_Description] CHECK  ((len(ltrim(rtrim([Description])))>(0)))
GO
ALTER TABLE [dbo].[QuotationItems] CHECK CONSTRAINT [CK_QuotationItems_Description]
GO
ALTER TABLE [dbo].[QuotationItems]  WITH CHECK ADD  CONSTRAINT [CK_QuotationItems_LineNumber] CHECK  (([LineNumber]>(0)))
GO
ALTER TABLE [dbo].[QuotationItems] CHECK CONSTRAINT [CK_QuotationItems_LineNumber]
GO
ALTER TABLE [dbo].[QuotationItems]  WITH CHECK ADD  CONSTRAINT [CK_QuotationItems_Quantity] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[QuotationItems] CHECK CONSTRAINT [CK_QuotationItems_Quantity]
GO
ALTER TABLE [dbo].[QuotationItems]  WITH CHECK ADD  CONSTRAINT [CK_QuotationItems_UnitPrice] CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[QuotationItems] CHECK CONSTRAINT [CK_QuotationItems_UnitPrice]
GO
ALTER TABLE [dbo].[QuotationPaymentTerms]  WITH CHECK ADD  CONSTRAINT [CK_QuotationPaymentTerms_Amount] CHECK  (([Amount] IS NULL OR [Amount]>=(0)))
GO
ALTER TABLE [dbo].[QuotationPaymentTerms] CHECK CONSTRAINT [CK_QuotationPaymentTerms_Amount]
GO
ALTER TABLE [dbo].[QuotationPaymentTerms]  WITH CHECK ADD  CONSTRAINT [CK_QuotationPaymentTerms_DueAfterDays] CHECK  (([DueAfterDays] IS NULL OR [DueAfterDays]>=(0)))
GO
ALTER TABLE [dbo].[QuotationPaymentTerms] CHECK CONSTRAINT [CK_QuotationPaymentTerms_DueAfterDays]
GO
ALTER TABLE [dbo].[QuotationPaymentTerms]  WITH CHECK ADD  CONSTRAINT [CK_QuotationPaymentTerms_InstallmentNumber] CHECK  (([InstallmentNumber]>(0)))
GO
ALTER TABLE [dbo].[QuotationPaymentTerms] CHECK CONSTRAINT [CK_QuotationPaymentTerms_InstallmentNumber]
GO
ALTER TABLE [dbo].[QuotationPaymentTerms]  WITH CHECK ADD  CONSTRAINT [CK_QuotationPaymentTerms_Percentage] CHECK  (([Percentage] IS NULL OR [Percentage]>=(0) AND [Percentage]<=(100)))
GO
ALTER TABLE [dbo].[QuotationPaymentTerms] CHECK CONSTRAINT [CK_QuotationPaymentTerms_Percentage]
GO
ALTER TABLE [dbo].[QuotationPaymentTerms]  WITH CHECK ADD  CONSTRAINT [CK_QuotationPaymentTerms_Value] CHECK  (([Percentage] IS NOT NULL OR [Amount] IS NOT NULL))
GO
ALTER TABLE [dbo].[QuotationPaymentTerms] CHECK CONSTRAINT [CK_QuotationPaymentTerms_Value]
GO
ALTER TABLE [dbo].[Quotations]  WITH CHECK ADD  CONSTRAINT [CK_Quotations_Amounts] CHECK  (([SubTotal]>=(0) AND [DiscountAmount]>=(0) AND [DiscountAmount]<=[SubTotal] AND [TaxAmount]>=(0) AND [TotalAmount]=(([SubTotal]-[DiscountAmount])+[TaxAmount])))
GO
ALTER TABLE [dbo].[Quotations] CHECK CONSTRAINT [CK_Quotations_Amounts]
GO
ALTER TABLE [dbo].[Quotations]  WITH CHECK ADD  CONSTRAINT [CK_Quotations_Number_NotEmpty] CHECK  ((len(ltrim(rtrim([QuotationNumber])))>(0)))
GO
ALTER TABLE [dbo].[Quotations] CHECK CONSTRAINT [CK_Quotations_Number_NotEmpty]
GO
ALTER TABLE [dbo].[Quotations]  WITH CHECK ADD  CONSTRAINT [CK_Quotations_Status] CHECK  (([Status]='Cancelled' OR [Status]='ConvertedToProject' OR [Status]='Expired' OR [Status]='Rejected' OR [Status]='Approved' OR [Status]='Sent' OR [Status]='Draft'))
GO
ALTER TABLE [dbo].[Quotations] CHECK CONSTRAINT [CK_Quotations_Status]
GO
ALTER TABLE [dbo].[Quotations]  WITH CHECK ADD  CONSTRAINT [CK_Quotations_StatusDates] CHECK  ((([Status]<>'Sent' OR [SentAt] IS NOT NULL) AND ([Status]<>'Approved' OR [ApprovedAt] IS NOT NULL) AND ([Status]<>'Rejected' OR [RejectedAt] IS NOT NULL)))
GO
ALTER TABLE [dbo].[Quotations] CHECK CONSTRAINT [CK_Quotations_StatusDates]
GO
ALTER TABLE [dbo].[Quotations]  WITH CHECK ADD  CONSTRAINT [CK_Quotations_Title_NotEmpty] CHECK  ((len(ltrim(rtrim([Title])))>(0)))
GO
ALTER TABLE [dbo].[Quotations] CHECK CONSTRAINT [CK_Quotations_Title_NotEmpty]
GO
ALTER TABLE [dbo].[Quotations]  WITH CHECK ADD  CONSTRAINT [CK_Quotations_Validity] CHECK  (([ValidUntil] IS NULL OR [ValidUntil]>=[IssueDate]))
GO
ALTER TABLE [dbo].[Quotations] CHECK CONSTRAINT [CK_Quotations_Validity]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [CK_RefreshTokens_Expiry] CHECK  (([ExpiresAt]>[CreatedAt]))
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [CK_RefreshTokens_Expiry]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [CK_RefreshTokens_Revocation] CHECK  (([RevokedAt] IS NULL OR [RevokedAt]>=[CreatedAt]))
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [CK_RefreshTokens_Revocation]
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD  CONSTRAINT [CK_Roles_Name_NotEmpty] CHECK  ((len(ltrim(rtrim([Name])))>(0)))
GO
ALTER TABLE [dbo].[Roles] CHECK CONSTRAINT [CK_Roles_Name_NotEmpty]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [CK_Services_DefaultPrice] CHECK  (([DefaultPrice]>=(0)))
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [CK_Services_DefaultPrice]
GO
ALTER TABLE [dbo].[Suppliers]  WITH CHECK ADD  CONSTRAINT [CK_Suppliers_Name_NotEmpty] CHECK  ((len(ltrim(rtrim([Name])))>(0)))
GO
ALTER TABLE [dbo].[Suppliers] CHECK CONSTRAINT [CK_Suppliers_Name_NotEmpty]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Contact] CHECK  (([Email] IS NOT NULL OR [PhoneNumber] IS NOT NULL))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Contact]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_FullName_NotEmpty] CHECK  ((len(ltrim(rtrim([FullName])))>(0)))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_FullName_NotEmpty]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_PasswordHash_NotEmpty] CHECK  ((len(ltrim(rtrim([PasswordHash])))>(0)))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_PasswordHash_NotEmpty]
GO
